:root {
    /* COLORS */
    --light-dark-blue: hsl(234, 25%, 52%);
    --very-dark-blue: hsl(233, 54%, 16%);
    --light-gray: hsl(232, 10%, 56%);
    --bright-pink: hsl(341, 92%, 62%);
    --light-pink: hsl(341, 100%, 83%);
    --white: hsl(0, 0%, 100%);

    /* Gradients */
        /* For btn 2 */
    --orange-to-pink: linear-gradient(hsl(13, 100%, 64%), hsl(322, 87%, 55%));
    --blue-to-pink: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));

    /* Paddings for calculation */
    --nav-vertical-padding-desktop: 2.4rem;
    --nav-vertical-padding-tablet: 3.1rem;

    --logo-to-intro-left-desktop: 18.5rem;
    --logo-to-intro-left-tablet: 10.5rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(hsl(0, 0%, 100%), hsla(234, 100%, 97%, 1));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/*
    ======================= DESKTOP DESIGN =======================
*/


/*
    ========== NAV STYLING ==========
*/
#nav,
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#nav {
    border: 1px solid red;
    padding: var(--nav-vertical-padding-desktop) 16.5rem;
}

.logo {
    font-size: 3.6rem;
    font-weight: 800;
}

.logo__nav {
    color: black;
}

/*
    ========== MAIN CONTENT STYLING ==========
*/

#container {
    position: relative;
    /* 
        This might cause problems later regarding responsiveness.
        It was used to make sure that the footer stayed at the bottom of the page.
        Change if needed.
    */
    min-height: calc(100vh - 12rem); 
    width: 100%;
    padding: 0 16.5rem;
    border: 1px solid green;
}

/*
    ====== INTRO STYLING ======
*/

#intro {
    margin-bottom: 25rem;
    border: 1px solid yellow;
}

.intro-left {
    margin-top: calc(var(--logo-to-intro-left-desktop) - var(--nav-vertical-padding-desktop));
    width: 45.7rem;
}

.header {
    font-size: 5.6rem;
    font-weight: 800;
    margin: 0;
}

.intro-content {
    width: 44.4rem;
    margin: 2.9rem 0 5.9rem;
    line-height: 2.8rem;
    color: var(--light-gray);
}

.intro__img {
    background-image: url(../assets/image-hero-desktop@2x.png);
    width: 99.1rem;
    height: 93.6rem;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: -27rem;
    right: -30.5rem;
}


/*
    ====== COURSES STYLING ======
*/

#courses {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem 3rem;
    margin-bottom: 14rem;
    border: 1px solid brown;
}

.course__header {
    padding: 6.4rem 3.2rem;
}

.header--secondary {
    font-size: 3.2rem;
    color: var(--white);
    line-height: 4rem;
}

.course {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.4rem;
    position: relative;
    padding: 6.4rem 3.2rem 4rem;
    border-radius: 1.5rem;
}

.course:not(.course__header) {
    background-color: var(--white);
    box-shadow: 0 2.5rem 5rem rgba(6, 22, 141, 0.04);
}

.course__header {
    background: var(--orange-to-pink);
}

.course__img {
    position: absolute;
    top: -2.5rem;
}

.course__name {
    font-weight: 800;
}

.course__content {
    line-height: 2.8rem;
    color: var(--light-gray);
    font-weight: 500;
}

.course__link {
    font-weight: 700;
    margin-top: auto;
    color: var(--bright-pink);
}

/*
    ========== BUTTON STYLING ==========
*/

.btn {
    font-weight: 700;
    padding: 1.8rem 3.2rem;
    border-radius: 2.8rem;
    border: transparent;
    cursor: pointer;
    color: white;
}

.btn__nav {
    background-color: var(--very-dark-blue);
    z-index: 1;
}

.btn__nav:hover {
    background-color: var(--light-dark-blue);
}

.btn__intro {
    background: var(--orange-to-pink);
}

.btn__intro:hover {
    box-shadow: 0 0 10rem 10rem inset hsla(0, 0%, 100%, 0.45)
}

.btn__footer {
    background: var(--blue-to-pink);
}

.btn__footer:hover {
    box-shadow: 0 0 10rem 10rem inset hsla(0, 0%, 100%, 0.45);
}

/*
    ========== FOOTER STYLING ==========
*/

#footer {
    background-color: var(--very-dark-blue);
    border: 1px solid blue;
    padding: 3.2rem 16.5rem;
}

.logo__footer {
    color: white;
}

/*
    ======== SCREENREADER ONLY ========
*/

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}


/*
    ======================= TABLET DESIGN =======================
*/

@media only screen and (max-width: 1024px) {

    body {
        font-size: 1.6rem;
    }

    
    /*
        ========== NAV STYLING ==========
    */

    #nav {
        padding: var(--nav-vertical-padding-tablet) 4rem;
    }

    .logo {
        font-size: 2.8rem;
    }


    /*
        ========== MAIN CONTENT STYLING ==========
    */

    #container {
        padding: 0 4rem;
    }


    /*
        ====== INTRO STYLING ======
    */

    #intro {
        margin-bottom: 21rem;
    }

    .intro-left {
        margin-top: calc(var(--logo-to-intro-left-tablet) - var(--nav-vertical-padding-tablet));
        width: 39.8rem;
    }

    .header {
        font-size: 4rem;
    }

    .intro-content {
        width: 39.8rem;
        line-height: 2.6rem;
        margin: 2.4rem 0 3.9rem;
    }

    .intro__img {
        background-image: url(../assets/image-hero-tablet@2x.png);
        width: 64rem;
        height: 64rem;
        top: -16rem;
        right: -27rem;
    }


    /*
        ====== COURSES STYLING ======
    */
    #courses {
        grid-template-columns: repeat(2, 1fr);
        gap: 5.6rem 1rem;
        margin-bottom: 8.6rem;
    }

    .course__header {
        padding: 5.6rem 3.2rem;
    }

    .header--secondary {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }

    .course {
        padding: 5.6rem 2.2rem 3.2rem 3.2rem;
        gap: 1.6rem;
    }

    .course__name {
        font-size: 2rem;
    }

    .course__content {
        line-height: 2.6rem;
    }

    .course__link {
        font-size: 1.8rem;
    }


    /*
        ========== BUTTON STYLING ==========
    */

    .btn {
        padding: 1.4rem 2.4rem;
    }

    .btn__intro {
        padding: 1.8rem 3.7rem;
    }


    /*
        ========== FOOTER STYLING ==========
    */

    #footer {
        padding: 3.6rem 4rem;
    }
}